body {
  background-color: black;
  font-family: Arial;
  font-weight: bold;
  
}

button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  font-size: 26px;
  cursor: pointer;
  margin-right: 5px;
  color: white;
}

.button-grey {
  background-color: rgb(51, 51, 51);
}

.button-orange {
  background-color: rgb(254, 160, 10);
}

.clear {
  font-size: 17px;
}

.calculation {
  color: white;
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: normal;
}